<ion-content fullscreen="true">

  <div class="economy-page">

    <!-- TOP BAR -->

    <div class="top-bar">

      <div class="back-btn" (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </div>

      <h1 class="title">
        BOWLING ECONOMY CALCULATOR
      </h1>

      <div class="chart-btn">
        <ion-icon name="tennisball-outline"></ion-icon>
      </div>

    </div>

    <div class="header-line"></div>

    <!-- FORM CARD -->

    <div class="form-card">

      <ion-icon
        class="graph-bg"
        name="tennisball-outline">
      </ion-icon>

      <div class="input-box">

        <input
          type="number"
          [(ngModel)]="runs"
          placeholder="Runs Conceded">

      </div>

      <div class="input-box">

        <input
          type="number"
          [(ngModel)]="overs"
          placeholder="Overs Bowled">

      </div>

    </div>

    <!-- BUTTON -->

    <button
      class="calculate-btn"
      (click)="calculateEconomy()">

      CALCULATE BOWLING ECONOMY

    </button>

    <!-- RESULT -->

    <div
      class="result-card"
      *ngIf="showResult">

      <h4>CALCULATION RESULT</h4>

      <h1>
        ECONOMY:
        {{ result }}
      </h1>

    </div>

  </div>

</ion-content>
